In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time
from bs4 import BeautifulSoup
from PIL import Image
import pytesseract
import pandas as pd
import sys
from chromedriver_py import binary_path # this will get you the path variable
from selenium.webdriver.support.ui import Select
import math
import bs4

In [2]:
#https://stackoverflow.com/questions/76727774/selenium-webdriver-chrome-115-stopped-working
from selenium.webdriver.chrome.service import Service

service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
driver.close()

In [10]:
# https://github.com/sinarest1608/Number-plate-search/blob/master/bot.py

df = pd.read_excel("./Plates.xlsx")

In [11]:
df.head()

,Plate number,State where vehicle is registered,Model Year,Make Model
0,4389952,NH,1996.0,Toyota Camry
1,558 TH1,MA,2005.0,Honda Civic
2,7SGH10,MA,2009.0,Honda CRV
3,KA-404,RI,2010.0,Dodge Grand Caravan
4,676332,RI,2011.0,Honda Accord

In [12]:
df.columns

Index(['Plate number', 'State where vehicle is registered', 'Model Year',
       'Make Model'],
      dtype='object')

In [13]:
print(df.columns.tolist())

['Plate number', 'State where vehicle is registered', 'Model Year', 'Make Model']

In [16]:
vehicle1_list = []
vehicle1_year_list = []
vehicle1 = "Make Model"

In [ ]:
for x in range(len(df)):
    
    print(x)
    plate = df['Plate number'][x]
    state = df['State where vehicle is registered'][x]
    vehicle_year = df['Model Year'][x]
    print(plate, state, vehicle_year)
    
    if math.isnan(vehicle_year):
        driver = webdriver.Chrome(service=service, options=options)

        url = "https://www.faxvin.com/license-plate-lookup/result?plate=" + plate + "&state=" + state
        print(url)

        driver.get(url)

        time.sleep(4)
        try:
            driver.find_element("xpath", "/html/body/div[1]/div/div[4]/form/div[3]/button").click()
            time.sleep(45)

        except:
            pass

        soup = bs4.BeautifulSoup(driver.page_source, 'html.parser')

        # Find all elements with the specified id.
        headers = soup.find("h1")
        

        vehicle1 = headers.text
        print(vehicle1)
        if vehicle1 == "Too Many Requests":
            break
        vehicle1_list.append(vehicle1)
        vehicle1_year_list.append(vehicle1[:4])
        
        df['Model Year'][x] = int(vehicle1[:4])
        df['Make Model'][x] = vehicle1[:4]

        driver.close()
        
    if vehicle1 == "Too Many Requests":
        break

0
4389952 NH 1996.0
1
558 TH1 MA 2005.0
2
7SGH10 MA 2009.0
3
KA-404 RI 2010.0
4
676332 RI 2011.0
5
22P-H21 MA 2013.0
6
849FA0 MA 2014.0
7
143 LL7 MA 2015.0
8
78zn27 MA 2016.0
9
4GS 617 MA 2016.0
10
S 856 MA 2016.0
11
4FN271 MA 2017.0
12
FW806P MA 2018.0
13
500-6949 NH 2020.0
14
1EPW59 MA 2099.0
15
781-ZD5 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=781-ZD5&state=MA

In [ ]:
df.head()

In [ ]:
df.to_excel("./Plates.xlsx")